/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
* {
	/* Clears Default Spacing */
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Verdana, Sans-serif;
	/*Note: The the hex color is a fallback to the closest color if
	  if the image happens to fail*/
	background: #dddbd4 url('images/template/background.png') repeat-x;
}
a {
	text-decoration: none;
}

/* -----------------------------------*/
/* --------->>>  GENERAL  <<<---------*/
/* -----------------------------------*/
.center-me {
	/*Note: Content area is 800px in width. The extra 56 pixel is so
	  that the template can fit the two gradient bars on either side*/
	width:856px;
	margin:0px auto;
}

/* -----------------------------------*/
/* ---------->>> CONTENT <<<----------*/
/* -----------------------------------*/
.block-cut {	
	text-align: center;
}
.center {	
	padding-left: 275px;
}
.video-area {
	text-align: center; 
	padding: 0px; margin: 0px;	
	position: relative;
	top: -15px;
}
.dbutton a {
			padding: 10px 10px 10px 10px;
			margin: 5px 20px 0px 0px;
			color: #b4b4b4;
			font-size: 14px;
			float: left;
			
			text-transform: uppercase;
			text-align: center;
			
			background-color: #262428;
			/* Rounded Corner Hack */
			-moz-border-radius: 5px;
			border-radius: 5px;	
		}
			.dbutton a:hover {
				background-color: #36333a;
			}
			.dbutton .button2 {
				padding-left: 100px;
				position: relative;
				top: -16px;
			}
.content-area {
	background-image:url('images/template/paper-texture.png');
	background-repeat:repeat-y;
}
	.area-center {
		height: 600px;
		width: 360px;
	}
		.area-center img{		
			height: 300px;
			width: 600px; 
			margin: 0px 0px 0px 128px; 
			border:6px solid #cfccc7;
			/* Rounded Corner Hack */
			-moz-border-radius: 6px;
			border-radius: 6px;
		 }
	.area-left {
		height: 200px;
		width: 360px;
		float: left;
	}
		.area-left img{		
			height: 180px;
			width: 300px; 
			margin: 0px 0px 0px 60px; 
			border:6px solid #cfccc7;
			/* Rounded Corner Hack */
			-moz-border-radius: 6px;
			border-radius: 6px;
		 }
	.area-right {
		min-height: 180px;
		width: 400px;
		float: left;
		margin-left: 40px;
		text-align: left;
	}
		.area-right .title-contain p{
			font: 36px "AW Conqueror Slab";
		}
		.area-right .title { 
			padding: 4px 0px 0px 0px;
			color: #000000;
		}
		.area-right .title-top { 
			padding: 4px 0px 0px 0px;
			color: #464646;	
		}
		.area-right .title-bottom { 
			margin: -5px 0px 0px 0px; 
			padding: 0px 0px 8px 0px; 
			color: #000000;
		}
		.area-right .descrip-small { 
			
			width: 385px;
			padding: 0px 0px 25px 0px; 
			color: #737373;
			font-size: 16px;
		}
		.area-right .descrip-large { 
			width: 385px;
			padding: 0px 0px 25px 0px; 
			color: #737373;
			font-size: 16px;
		}
		.area-right a {
			padding: 10px 10px 10px 10px;
			color: #b4b4b4;
			font-size: 14px;
			
			text-transform: uppercase;
			text-align: center;
			
			background-color: #262428;
			/* Rounded Corner Hack */
			-moz-border-radius: 5px;
			border-radius: 5px;	
		}
			.area-right a:hover {
				background-color: #36333a;
			}
			.area-right .button2 {
				padding-left: 100px;
				position: relative;
				top: -16px;
			}
	.spacer {
		height: 200px;
		width: 856px;
		text-align: center;
		padding: 5px 0px 5px 0px;
		letter-spacing:5px;
		color: #46780d;
	}
.media {
	height: 350px; 
	width: 100%;
	text-align: center;
}
	.media a{
		padding: 0px 22px 0px 22px;
	}
	
/* -----------------------------------*/
/* -------->>> Subscribe <<<----------*/
/* -----------------------------------*/

.sub-left {
		height: 200px;
		width: 280px;	
		float: left;
	}
	.sub-left img{	
		height: 114px;	
		width: 128px; 
		margin: 0px 0px 0px 175px; 
	 }
		
/* -----------------------------------*/
/* ---------->>> Extras <<<-----------*/
/* -----------------------------------*/
.left { float: left; }
.right { float: right; }
.clear{ clear: both; }

/* -----------------------------------*/
/* -------->>> NAVAGATION <<<---------*/
/* -----------------------------------*/
.menu {
		height: 40px;
		width: 800px;
		color: #b4b4b4;
		background-color: #2a2d2f;
		/*Note: This menu item is used for both the header and
		  the footer, and is indented over 28px to account for 
		  the shift made by the gradient*/
		margin-left: 28px;
	}
	
	ul.navlist {
		height: 40px;
		width: 800px;	
		margin: 0;
		padding: 0;
		white-space: nowrap;
		font-size: 14px;
	}
		.navlist li	{
			margin: 0;
			padding: 12px 0px 0px 0px;;
			display: block;
			float: left;
			list-style-type: none;
		}
		.navlist a { 
			margin: 0px;
			padding: 12px 15px;
			text-transform: uppercase;
		}
			.navlist a:link, .navlist a:visited	{
				color: #fff;
				background-color: #2a2d2f;
				text-decoration: none;
			}
			
			.navlist a:hover {
				color: #fff;
				background-color: #3b373e;
				text-decoration: none;
			}
			.current {
				color: red;
				background-color: #3b373e;
				text-decoration: none;
			}
.selected a{
	background-color: #3b373e;
}
	
/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/

#gradient-top {
	height: 32px;
	width: 856px;
	background-image:url('images/template/gradient-top.png');
}
#click-me {
	height: 85px;
	width: 127px;
	background-image:url('images/template/click.png');
	margin:0px auto;
}
#logo {
	height: 175px;
	width: 258px;
	background-image:url('images/template/logo.png');
	margin:0px auto;
}

/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

#grass {
	height: 32px;
	width: 856px;
	background-image:url('images/template/grass.png');
	margin-left: -28px;
}