html {
	  background-color: transparent;
}

body {
	padding-top: 40px;
	background-image: url('../img/template/background.png');
	background-repeat: repeat-x;
}

.media-grid { margin-bottom: -10px;	}
.span-one-third p {	height: 75px; }

.logo {
	text-align:center;
	padding: 0px;
	margin: 0px;
}

.hero-unit {
	position: relative;
	top: -5px;
}

.left {	float: left; }
.right { float: right; }
.center { text-align: center; }
.left-shift { padding-left: 13px; }
.btn { margin-right: 15px; }